<% layout('layout') -%>

<style>
    #edit {
        position: fixed;
        top: 10px;
        right: 10px;
    }

    #notify-error {
        display: none;
    }

    #editor {
        display: none;
    }
</style>

<div id="article"></div>

<button type="button" class="btn btn-default" id="edit">Edit</button>

<form role="form" id="editor">
    <div id="notify-error" class="alert alert-danger">
        <strong>Oh snap!</strong> Something went wrong. Why don't you fetch a coffee and try again.
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="20" id="content"><%= article.content %></textarea>
    </div>
    <div class="form-group">
        <button type="reset" class="btn btn-default" id="reset">Reset</button>
        <button type="button" class="btn btn-primary" id="save">Save</button>
    </div>
</form>

<script src="/marked/lib/marked.js"></script>
<script>
    var $editor = $('#editor'),
        $article = $('#article'),
        $content = $('#content'),
        $error = $('#notify-error');

    function showEditor() {
        $article.hide();
        $editor.show();
        $content.focus();
    }
    function showArticle() {
        $editor.hide();
        $article.show();
    }

    $('#edit').click(function () {
        if ($editor.is(':visible')) {
            showArticle();
        }
        else {
            showEditor();
        }
    });

    $('#save').click(function () {
        $error.hide();

        var content = $content.val();
        $.post(window.location.href, {
            content: content
        }).done(function () {
            parseMarkdown(content);
            showArticle();
        }).fail(function () {
            $error.show();
        });
    });

    function parseMarkdown(markdown) {
        var html = marked(markdown);
        $('#article').html(html);
    }
    parseMarkdown($content.val());
</script>
