<% layout('layout') -%>

<style>
    #edit {
        position: fixed;
        top: 10px;
        right: 10px;
    }

    #notify-error {
        display: none;
    }

    #editor {
        display: none;
    }
</style>

<div id="article"></div>

<button type="button" class="btn btn-default" id="edit">
    <span class="glyphicon glyphicon-align-justify"></span> Edit
</button>

<form role="form" id="editor">
    <div id="notify-error" class="alert alert-danger">
        <strong>Oh snap!</strong> Something went wrong. Why don't you fetch a coffee and try again.
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="20" id="content"><%= article.content %></textarea>
    </div>
    <div class="form-group">
        <button type="reset" class="btn btn-default" id="reset">Reset</button>
        <button type="button" class="btn btn-primary" id="save">
            <span class="glyphicon glyphicon-cloud"></span> Save
        </button>
    </div>
</form>

<script src="/marked/lib/marked.js"></script>
<script>
    var $editor = $('#editor'),
        $article = $('#article'),
        $content = $('#content'),
        $error = $('#notify-error'),
        $edit = $('#edit'),
        $save = $('#save');

    $edit.click(function () {
        if ($editor.is(':visible')) {
            $editor.hide();
            $article.show();
        }
        else {
            $article.hide();
            $editor.show();
            $content.focus();
        }
    });

    $save.click(function () {
        $error.hide();

        var content = $content.val();
        $.post(window.location.href, {
            content: content
        }).done(function () {
            parseMarkdown(content);
            $edit.click();
        }).fail(function () {
            $error.show();
        });
    });

    function parseMarkdown(markdown) {
        var html = marked(markdown);
        $article.html(html);
    }
    parseMarkdown($content.val());
</script>
