<form role="form" id="edit">
    <div class="form-group">
        <textarea class="form-control" rows="20" id="content"><%= article.content %></textarea>
    </div>
    <div class="form-group">
        <button type="reset" class="btn btn-default" id="reset">Reset</button>
        <button type="button" class="btn btn-primary" id="save">Save</button>
    </div>
</form>

<script src="/marked/lib/marked.js"></script>
<script>
    function parseMarkdown(markdown) {
        var html = marked(markdown);
        $('#article').html(html);
    }
    parseMarkdown($('#content').val());

    $('#save').click(function () {
        var content = $('#content').val();
        $.post(window.location.href, {
            content: content
        }).done(function () {
            parseMarkdown(content);
        }).fail(function () {
            alert('error');
        });
    });

    $('#content').focus();
</script>